@model dynamic

@{
    ViewBag.Title = "County Not Found";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<br/>
<p>We could not find a county for the value you entered. </p>
<br/>
<p>Please enter the county again.</p>

@Html.ActionLink("Click Here To Reenter", "Register", "Account", null, new {@class="btn-lg btn btn-primary"})
