@model dynamic

@{
    ViewBag.Title = "County Not Found";
    Layout = "../../Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<br/>
<p>We could not find a county for the value you entered. </p>
<br/>
<p>Please enter the county again.</p>

@if (ViewBag.Message != null)
{
    <p>The system returned the following error: @ViewBag.Message</p>
}
@Html.ActionLink("Click Here To Reenter", "Register", "Account", null, new {@class="btn-lg btn btn-primary"})
