@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!-- container -->
<div class="container">

    <!-- row -->
    <div class="row">

        <!-- col-md-12-->
     <div class="col-md-12">
    <p>
        We are software developers on a mission to assist members of the community to monitor
        and preserve one of earth’s most precious resources our Water through the leverage
        of technology.  We need water for everything it is essential to sustain life,
        yet safe clean water is often taken for granted.  It is estimated that only 3.5 percent
        of earth’s water is suitable for drinking. Currently almost 1.2 billion people live in
        areas without sufficient water. 
    </p>
    </div><!--/col-md-12-->

    
      <!-- col-md-12-->
    <div class="col-md-12">
    <p>
        As our earth’s populations continues to rise so will
        pollutants. It is urgent to heighten everyone’s awareness that it up to every responsible
        individual to do their part in conserving our water by reporting any known harmful activities
        or observations to our water sources.
    </p>
    </div><!--/col-md-12-->

    
    <!-- col-md-12-->
    <div class="col-md-12">
    <p>
        This website evolved as a one stop shop to allow an individual to report and get information about
        water related issues in their community and share their concerns with the public and their elected officials.
        We aim to be a digital basin for everyone to visit when they seek to take a active role in ensuring that clean safe water remain an inalienable right.
    </p>
    </div><!--/col-md-12-->

   
    <!-- col-md-12-->
    <div class="col-md-12">
    <p>
        This site will enable you to :
        <ul> 
        <li>Report Water Issues in Your Area</li>
        <li>Receive Water Alerts</li>
        <li>Utility Company Contacts</li>
        <li>Elected Officials Contacts</li>
        <li>Water Pollution Reduction</li>
        <li>Advocate for Clean Safe Water</li>
        <li>Acess Information</li>
        <li>Calendar of Events</li>
        <li>Volunteer</li>
    </ul>
    </p>
        </div><!--/col-md-12-->

    </div class="row">


    </div>


</div><!--/row-->
</div><!--/container--> 

