@{
    ViewBag.Title = "Home Page";
}

<style>
    .col-md-6 {
        margin-bottom: 60px;
    }
</style>

<div class="jumbotron">
    <h1>More Life!!!</h1>
    <p class="lead">
        One of Ohio's best summer destinations is the 100-mile stretch of Lake Erie shore.
        Things to do on Ohio's Lake Erie shore include Cedar Point Amusement Park, East and West Bank Flats(Downtown Cleveland)
        , Put-in-Bay and Marblehead Lighthouse State Park. Lake Erie's great fishery supports 10,000 jobs
        per year and boost the economies by over $1 billion annually. It is the Walleye Capital of
        the world-people come from all over the world to fish these waters. Most importantly lake Erie provides drinking water to over 11 million people.
        We are so thankful for you!
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Dive In! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Negative impacts on our lake</h2>
        <p>
            Lake Erie is suffering from all sorts of pollution. It suffers from farm runoff waste,
            local trash, an abundance of algae blooms and pollution in the air. This affects the water we drink, the aquatic ecosystem,
            and more importantly it looks horrible which can stray many away from not coming close to the lake at all!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Our vision for Lake Erie</h2>
        <p>
            Lake Erie has an huge inpact on our economy and state of well being. We absolutely need for the Lake to be healthy
            because our lives will all be affected. Our vision is to get Lake Erie healthier than it's ever been. A healthier lake
            will create more job opportunities, more entertainment and most importantly great quality drinking water!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <br />
    <br />
    <div style="text-align:center" , class="col-md-12">
        <h2>Take Action == More Life!</h2>
        <p>
            There are many ways that you can take action.Just to name a few you can get involved in a community project,
            reach out to collaborate in ways of help the lake, report pollution, or report Algae sources.
            The important thing is to educate yourself first then educate the people closest to you. Before you know it, everyone
            will be informed and we will be on our way to More Life!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>