@model ErieHackMVP1.Models.CivicViewModel

@{
    ViewBag.Title = "Find Representatives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var values = @Html.Raw(Json.Encode(Model.JSResult));
    var valuesparsed = JSON.parse(values);
</script>

<h2>@ViewBag.Title</h2>
<br/>

