
@{
    ViewBag.Title = "Wait";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error. You Already Submitted a Report Recently</h2>
<br/>
<br/>
<p>Users are not allowed to submit more than one report every 48 hours. Please wait 48 hours before submitting another report.</p>

<p>If the problem you reported still has not been addressed, please contact your local water authority to get the issue resolved.</p>